<div class="cards-telefono-celu celu">
  <div class="card-telefonica celu" *ngFor="let numero of numeros">
    <h3>{{numero.nombre}} </h3>
    <p>{{numero.Ubicacion}}</p>
    <div class="iframe-container" [innerHTML]="sanitizedGoogleMapsUrl">
      
    </div>
    <button class="btn-guia red">LLAMAR</button>
    <button class="btn-guia "> AGENDAR</button>
  </div>
</div>

<div class="card-telefonica compu" *ngFor="let numero of numeros">
  <div class="container">
    <h3 class="tiulo">{{numero.nombre}}</h3>
    <div class="card-conteiner">
      <div class="izquierda">
        <p class="direcion"><strong>{{numero.ubicacion}}</strong></p>
        <ul class="telefonos">
          <li class="tel-items red marcador-rapido">
            <span><strong>Marcado Rapido</strong></span>
            <br>
            <span><strong>{{numero.telefono_prin}}</strong></span>
          </li>
          <li class="tel-items" *ngFor="let telefono of numero.telefonos.split(','); let i = index   ">
             <span class="span-telefonos">TEL.{{i+1}}:</span> <strong> {{ telefono.trim() }}</strong> 
          </li>
        </ul>
      </div>
      <div class="derecha"  [innerHTML]="sanitizedGoogleMapsUrl">
      <div  class="ubicacion">

      </div>
      </div>
    </div>
  </div>
</div>
