<div class="cards-telefono-celu celu">
  <div class="card-telefonica celu" *ngFor="let numero of numeros">
    <h3>{{numero.nombre}} </h3>
    <p>{{numero.Ubicacion}}</p>
    <div class="iframe-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3099.347523448176!2d-67.58000262462407!3d-39.03019510453344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a1d2e72c4c7cb%3A0x101506aa9b4e7aea!2zQXNvY2lhY2nDs24gRXNwYcOxb2xh!5e0!3m2!1ses-419!2sar!4v1712094555402!5m2!1ses-419!2sar"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <button class="btn-guia red">LLAMAR</button>
    <button class="btn-guia "> AGENDAR</button>
  </div>
</div>

<div class="card-telefonica compu" *ngFor="let numero of numeros">
  <div class="container">
    <h3 class="tiulo">{{numero.nombre}}</h3>
    <div class="card-conteiner">
      <div class="izquierda">
        <p class="direcion"><strong>{{numero.ubicacion}}</strong></p>
        <ul class="telefonos">
          <li class="tel-items red marcador-rapido">
            <span><strong>Marcado Rapido</strong></span>
            <br>
            <span><strong>{{numero.telefono_prin}}</strong></span>
          </li>
          <li class="tel-items" *ngFor="let telefono of numero.telefonos.split(','); let i = index   ">
             <span class="span-telefonos">TEL.{{i+1}}:</span> <strong> {{ telefono.trim() }}</strong> 
          </li>
        </ul>
      </div>
      <div class="derecha"><div  class="ubicacion">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3099.347523448176!2d-67.58000262462407!3d-39.03019510453344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a1d2e72c4c7cb%3A0x101506aa9b4e7aea!2zQXNvY2lhY2nDs24gRXNwYcOxb2xh!5e0!3m2!1ses-419!2sar!4v1712094555402!5m2!1ses-419!2sar"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      </div>
      </div>
    </div>
  </div>
</div>
