<div class="cards-telefono-celu celu">
  <div class="card-telefonica celu" *ngFor="let numero of numeros">
    <h3>{{numero.nombre}} </h3>
    <p>{{numero.Ubicacion}}</p>
    <i class="fa-solid fa-pen-to-square" (click)="editar(numero.id, $event)" *ngIf="mostrarId"></i>
    <i class="fa-solid fa-trash link" (click)="borar(numero.id)" *ngIf="mostrarId"></i>
    <div class="iframe-container" [innerHTML]="numero.ubicacion_map_sanitized">
      
    </div>
    <a href="tel:{{numero.telefono_prin}} " class="btn-guia red">LLAMAR</a>
    <a href="tel:{{numero.telefono_prin}} " class="btn-guia">AGENDAR</a>
  </div>
</div>

<div class="card-telefonica compu" *ngFor="let numero of numeros">
  <div class="container">
    <h3 class="tiulo">{{numero.nombre}}</h3>
   <div *ngIf="mostrarId">
    <i class="fa-solid fa-pen-to-square" (click)="editar(numero.id, $event)" ></i>
    <i class="fa-solid fa-trash link" (click)="borar(numero.id)" ></i>
   </div>
    <div class="card-conteiner">
      <div class="izquierda">
        <p class="direcion"><strong>{{numero.ubicacion}}</strong></p>
        <ul class="telefonos">
          <li class="tel-items red marcador-rapido">
            <span><strong>Marcado Rapido</strong></span>
            <br>
            <span><strong>{{numero.telefono_prin}}</strong></span>
          </li>
          <li class="tel-items" *ngFor="let telefono of numero.telefonos.split(','); let i = index   ">
             <span class="span-telefonos">TEL.{{i+1}}:</span> <strong> {{ telefono.trim() }}</strong> 
          </li>
        </ul>
      </div>
      <div class="derecha"  [innerHTML]="numero.ubicacion_map_sanitized" >
      <div  class="ubicacion">
      </div>
      </div>
    </div>
  </div>
</div>
