.guia-telefonica{
    padding-top: 6rem;
}
.guia-options{
    width: 100%;
    background-color: var(--primary);
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    padding: .3rem 0;
    cursor: pointer;
    transition: .3s;
}
.guia-options:hover{
    text-decoration: underline .4px;
}
.fa-sort-down{
    font-size: 2rem;
    position: relative;
    transform: translateY(-5px);
}
.mostrar{
    display: block;
}
.submenu{
    display: flex;
    padding: 1rem;
    gap: 15px;
    background-color: rgb(215, 229, 243);
}