<section class="guia-telefonica">
    <ul>
        <li class="guia-options" (click)="guiaCultura()">
            <i class="fa-solid fa-sort-down"></i>CULTURA Y EDUCACIÓN
        </li>
            <ul class="submenu" id="noticias" *ngIf="cultura" [ngClass]="{'mostrar': cultura}">
                <!-- <app-card-guia *ngFor="let numero of personasList"></app-card-guia> -->
                <app-card-guia ></app-card-guia>
                <app-card-guia ></app-card-guia>
            </ul>
        <li class="guia-options" (click)="guiaPersonas()">
            <i class="fa-solid fa-sort-down"></i>PERSONAS, SEGURIDAD SOCIAL E IMPUESTOS
        </li>
            <ul class="submenu" id="noticias" *ngIf="personas" [ngClass]="{'mostrar': personas}">
                <li>Cultura</li>
            </ul>
        <li class="guia-options" (click)="guiaSalud()">
            <i class="fa-solid fa-sort-down"></i>SALUD
        </li>
            <ul class="submenu" id="noticias" *ngIf="salud" [ngClass]="{'mostrar': salud}">
                <li>Cultura</li>
            </ul>
        <li class="guia-options" (click)="guiaSeguridad()">
            <i class="fa-solid fa-sort-down"></i>SEGURIDAD
        </li>
            <ul class="submenu" id="noticias" *ngIf="seguridad" [ngClass]="{'mostrar': seguridad}">
                <li>Cultura</li>
            </ul>
    </ul>
</section>
