<div class="pre-pie-pagina">

  <div class="links-navegacion">
    <div class="" >
      <div class="logo-container">
        <img src="/assets/logo.png" alt="" class="img">
      </div>

    </div>
    <div class="navegacion">
      <ul>
        <li><a (click)="seleccionarCategoria('cultura')">Cultura</a></li>
        <li><a (click)="seleccionarCategoria('educación')">Educación</a></li>
        <li><a (click)="seleccionarCategoria('salud')">Salud</a></li>
        <li><a (click)="seleccionarCategoria('seguridad')">Seguridad</a></li>
      </ul>
  
    </div>
  </div>
  <div class="sumar">
    <ul class="sumar-li">
      <li ><a  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">Sumar un local</a></li>
      <li><a  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">Sumar un número importante</a></li>
    </ul>
  </div>
</div>

<footer id="contacto">
    <div class="links">
     
      <a  target="_blank"href="https://instagram.com/" >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <!-- <i class="fa-brands fa-youtube"></i> -->
      <i class="fa-regular fa-envelope" (click)="mail()" >
        
      </i>
      
      <a target="_blank"  href="https://facebook.com/">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>  
    <span>La Voz de General Rodriguez | Todos los derechos reservados © 2024</span>
</footer>