<div class="cards-container-celu">
  <div class="card-lugar" *ngFor=" let comercio of comercios">
    <div class="title-card">
      <div class="title">
        <h2>{{comercio.nombre}} </h2>
      </div>
      <div class="icons">
        <a [href]="comercio.instagram">
          <img src="/assets/instagram.png" alt="" class="icon" />
        </a>
        <a [href]="comercio.facebook">
          <img src="/assets/facebook.png" alt="" class="icon" />
        </a>
        <a [href]="comercio.telefono">
          <img src="/assets/llamada-telefonica.png" alt="" class="icon" />
        </a>
      </div>
    </div>
    <div class="horario">
      <p class="horario-description">
        {{comercio.horario}}
      </p>
    </div>
    <div class="imagenes-card">
      <img src="/assets/dengue.jpg" alt="" class="img-card" />
      <img src="/assets/dengue.jpg" alt="" class="img-card" />
    </div>
    <div class="iframe-container"   [innerHTML]="sanitizedGoogleMapsUrl">
  
    </div>
  </div>

  
  
</div>
<div class="cards-container-computer"  *ngFor=" let comercio of comercios">
  <div class="card-lugar">
    <div class="title-card">
      <div class="title">
        <h2>{{comercio.nombre}} </h2>
      </div>
      <div class="icons">
        <a [href]="comercio.instagram">
          <img src="/assets/instagram.png" alt="" class="icon" />
        </a>
        <a [href]="comercio.facebook">
          <img src="/assets/facebook.png" alt="" class="icon" />
        </a>
        <a [href]="comercio.telefono">
          <img src="/assets/llamada-telefonica.png" alt="" class="icon" />
        </a>
      </div>
    </div>
    <div class="horario">
      <p class="horario-description">
        {{comercio.horario}}
      </p>
    </div>
    <div class="imagenes-card">
      <img src="/assets/dengue.jpg" alt="" class="img-card" />
      <img src="/assets/dengue.jpg" alt="" class="img-card" />
    </div>
    <div class="iframe-container" [innerHTML]="sanitizedGoogleMapsUrl">
      
    </div>
  </div>

</div>
