

/* Seccion de noticias home */
.img-container{
    height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 100%;
    display: block;
    height: 100%;

}
.principal-home{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 6rem;
}
.card-noticia{
    position: relative;
    width: 100%;
    color: white;
}
.info-noticia,.overflow{
    position: absolute;
    bottom: 0 ;
    left: 0;
    right: 0;
    height: 52%;
    opacity: .6;
    background: linear-gradient(to bottom, rgb(65, 64, 64), rgb(51, 51, 51));
}
.info-noticia{
    opacity: 1;
    background: none;
    padding: .4rem;
    overflow: hidden;
}


.category-info{
    position: absolute;
    top: 15px;
    left: 5px;
    padding: .3rem;
    border-radius: 20px;
    background-color:rgb(4, 4, 97);
    z-index: 2;
    color: white;
}
.span-card{
    background-color: white;
    padding: .1rem .5rem;
    border-radius: 20px;
    color: black;
    margin-right:5px ;
}

.title-card{
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.title-card-2{
    font-size: 1rem;
    line-height: 1.2rem;
}
.fecha{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: .4rem;
    background: linear-gradient(to left, rgb(77, 77, 141), rgb(131, 128, 128));
    opacity: .9 ;
    padding: .2rem;
}

.parrafo-descrip-card-pequeña{
    max-height: 59px;
    overflow: hidden;
    line-height: 1.2;
}
.compu{ 
    display: none;
}
@media(min-width:600px){
    .parrafo-descrip-card-pequeña{
        line-height: 1.2    ;
        max-height: 105px;
    }
    .info-noticia{
        height: 40%;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    .overflow{
        height: 40%;
    }
    .card-noticia{
        margin-bottom: 20px;
    }
    .np{
        padding: .1rem;
    }
}

@media(min-width:700px){
 
    .compu{ 
        display:block;
    }
    .principal-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 17px;
        /* padding: 0 2rem; */
        width: 70%;
        margin: 15px auto;
    }

    .parrafo-descrip-card-pequeña{
        max-height: 200px;
           font-size: 1.3875rem;
        /* line-height: 1.875rem; */
    }

    .img-container{
        height: 65vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    .card-noticia{
        margin-bottom: 20px;
        overflow: hidden;
    }
}

.noticias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(min-width:700px){

    .noticias{
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns:  1fr 1fr ;
        gap: 20px;
        margin-top: 20px;
    }
    .compu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    
    .div:nth-child(1){
        background-color: red;

    }
    .div:nth-child(2){
        background-color: yellow;
    }
    .div:nth-child(3){
        background-color: black;
        grid-area: 2/1/3/3;
    }

    /* .principal-home{
        height: 80vh;
    } */
    
 
    
    .img-contenedor{
        height: 100%;
        width: 100%;
    }
    .imagen{
        width: 100%;
        height: 100%;
    }
}