<section class="principal-home ">
    <a class="card-noticia enlace" *ngFor="let noticia of noticias">
      <div class="img-container">
      <img [src]="noticia.url_img" alt=""  class="img"/> 
      </div>
      <div class="category-info">
        <p><span class="span-card">Noticia</span>{{noticia.categoria}}</p>  
      </div>
      <div class="fecha">
        <p>{{noticia.fecha_publi}}</p>
      </div>

      <div class="overflow"></div>
      <div class="info-noticia">
        <h2 class="title-card">{{noticia.titulo}}</h2>
       <p  class="parrafo-descrip-card-pequeña">
        {{noticia.resumen}}
       </p> 
      </div>
    </a>
  
  </section>