<div class="all-container">

    <section class="list-noticias">
      <div class="list-noticias-container">
  
  
        <a class="card-noticia" *ngFor="let noticias of noticias">
          <!-- <span class="fecha-card">{{noticias.fecha_publi}}</span> -->
          <div class="img-card-a-container">
            <img [src]="noticias.url_img " alt="" class="img-card-a link" [routerLink]="['/noticia', noticias.id]">
          </div>
          <a class="enlace" [routerLink]="['/noticia', noticias.id]"><h2> {{noticias.titulo}}</h2></a>
          <a href="#">
            <i class="fa-solid fa-pen-to-square" (click)="editar(noticias.id, $event)" *ngIf="mostrarId"></i>
            <i class="fa-solid fa-trash link" (click)="borar(noticias.id, $event)" *ngIf="mostrarId"></i>
            <p class="description noticia">
                {{noticias.resumen}}
              </p>
          </a>
        </a>
      
  
  
      </div>
     </section>
  </div>