<div class="panel">
    <a href="" [routerLink]="['/admin-home']">
        <i class="fa-solid fa-house"></i>
    </a>
    <div class="panel-options">
        <a href="" [routerLink]="['/admin-noticias']">
            <button class="btn-admin">Noticias</button>
        </a>
        <a href="" [routerLink]="['/admin-lugares']">
            <button class="btn-admin">Lugares</button>
        </a>
        <a href="" [routerLink]="['/admin-telefonos']">
            <button class="btn-admin">Telefonos</button>
        </a>    
    </div>
</div>