<aside class=" celu">
    <div class="aside-celu">
      <div>
        <img src="/assets/whatsapp.png" alt="" class="img-aside enlace">
        <img src="/assets/correo-electronico-vacio.png" alt="" class="img-aside enlace">
      </div>
      <span><strong>¡CONTACTANOS!</strong></span>
      <div>         
        <img src="/assets/instagram.png" alt="" class="img-aside enlace">
        <img src="/assets/facebook.png" alt="" class="img-aside enlace">
      </div>
    </div>
  </aside>
  <aside class="aside compu">
    <img src="/assets/instagram.png" alt="" class="img-aside enlace" >
    <img src="/assets/facebook.png" alt="" class="img-aside enlace">
    <img src="/assets/llamada-telefonica.png" alt="" class="img-aside enlace">
  </aside>
