<aside class=" celu">
    <div class="aside-celu">
      <div>
       <a href="https://web.whatsapp.com/" target="_blank">
        <img src="/assets/whatsapp.png" alt="" class="img-aside enlace">
      </a>
      <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
        <img src="/assets/correo-electronico-vacio.png" alt="" class="img-aside enlace">
      </a>
      </div>
      <span><strong>¡CONTACTANOS!</strong></span>
      <div>         
        <a href="https://instagram.com/" target="_blank">
          <img src="/assets/instagram.png" alt="" class="img-aside enlace">
        </a>
        <a href="https://facebook.com/" target="_blank">
          <img src="/assets/facebook.png" alt="" class="img-aside enlace">
        </a>
      </div>
    </div>
  </aside>
  <aside class="aside compu">
    <a href="https://instagram.com/" target="_blank">
      <img src="/assets/instagram.png" alt="instagram-lavoz" class="img-aside enlace">
    </a>
    <a href="https://facebook.com/" target="_blank">
      <img src="/assets/facebook.png" alt="facebook-lavoz" class="img-aside enlace">
    </a>
    <!-- <a href="tel:2994535581">
      <img src="/assets/llamada-telefonica.png" alt="Llamar" class="img-aside enlace">
    </a> -->
    <a href="https://web.whatsapp.com/" target="_blank">
      <img src="/assets/whatsapp.png" alt="" class="img-aside enlace">
    </a>
  </aside>
